html, body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  color: #222; }

html {
  font-size: 62.5%; }

body {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  font-weight: 300;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 2.56rem;
  text-rendering: optimizeLegibility; }
  body > * {
    -webkit-box-flex: 1 100%;
    -moz-box-flex: 1 100%;
    -webkit-flex: 1 100%;
    -ms-flex: 1 100%;
    flex: 1 100%; }
  body > div {
    -webkit-box-flex: 1 auto;
    -moz-box-flex: 1 auto;
    -webkit-flex: 1 auto;
    -ms-flex: 1 auto;
    flex: 1 auto; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: 'Lora', Georgia, serif; }

h1 {
  line-height: 1.1;
  margin-top: 6rem;
  text-align: center; }

h2 {
  margin: 4rem 0; }

h4 {
  font-style: italic; }

h5 {
  margin: 0 auto;
  max-width: 95%; }

p {
  line-height: 1.8; }

a {
  text-decoration: none; }

ul {
  list-style-position: inside;
  padding: 0; }

dt {
  float: left;
  clear: left;
  width: 150px;
  text-align: right;
  font-weight: bold;
  color: green; }

dd {
  margin: 0 0 0 160px;
  max-width: 60rem;
  padding-bottom: 1.8rem; }

table {
  margin: 0 auto; }

td:not(.browser) {
  text-align: center; }

article {
  margin-top: 7rem;
  max-width: 90%; }

header {
  text-align: center; }
  header li {
    list-style: none; }

footer {
  -webkit-box-ordinal-group: 4;
  -moz-box-ordinal-group: 4;
  -ms-flex-order: 4;
  -webkit-order: 4;
  order: 4;
  padding: 4rem 0;
  text-align: center; }

.code {
  font-family: monospace; }

.anchors {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
  padding-left: 2rem; }

.more-info {
  -webkit-box-ordinal-group: 3;
  -moz-box-ordinal-group: 3;
  -ms-flex-order: 3;
  -webkit-order: 3;
  order: 3;
  margin: 0 auto;
  max-width: 28rem;
  padding: 0 2rem;
  text-align: center;
  width: 90vw; }
  .more-info p {
    margin: 0 auto;
    max-width: 275px;
    text-align: left; }

.content {
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2; }
  .content p {
    margin-bottom: 4rem;
    min-width: 280px;
    width: 70%; }

.blockquote {
  border-left: 3px solid #ccc;
  margin: 1rem 5rem;
  padding-left: 1.5rem; }

@media all and (min-width: 300px) {
  dt {
    text-align: center;
    font-weight: bold;
    color: green; }
  dd {
    padding-bottom: 1.8rem; }
  article {
    margin: 7rem auto 0 auto; } }

@media all and (min-width: 800px) {
  .anchors,
  .more-info {
    -webkit-box-flex: 1 auto;
    -moz-box-flex: 1 auto;
    -webkit-flex: 1 auto;
    -ms-flex: 1 auto;
    flex: 1 auto; } }

@media all and (min-width: 1000px) {
  .content {
    -webkit-box-flex: 8 0px;
    -moz-box-flex: 8 0px;
    -webkit-flex: 8 0px;
    -ms-flex: 8 0px;
    flex: 8 0px; } }
