html, body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    color: #222;
}

html {
    font-size: 62.5%;
}

body {
	@include flexbox();
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
    font: { weight: 300; family: 'Source Sans Pro', Helvetica, sans-serif; }
    font-size: 1.6rem; 
    line-height: 2.56rem; 
    text-rendering: optimizeLegibility;

    & > * {
    	@include flex(1 100%);
    }

    & > div {
    	@include flex(1 auto);
    }
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 { font: { weight: 400; family: 'Lora', Georgia, serif; } }

h1 {
    line-height: 1.1;
	margin-top: 6rem; 
	text-align: center; 
}

h2 {
	margin: 4rem 0;
}

h3 {  }

h4 {
    font-style: italic;
}

h5 {
    margin: 0 auto;
    max-width: 95%;
}
h6 {  }

p  {
    line-height: 1.8;
}

a {
	text-decoration: none;
}

nav {

}

ul {
    list-style-position: inside;
    padding: 0;
}

dt {
    float: left;
    clear: left;
    width: 150px;
    text-align: right;
    font-weight: bold;
    color: green;
}

dd {
    margin: 0 0 0 160px;
    max-width: 60rem;
    padding-bottom: 1.8rem;
}

table {
    margin: 0 auto;
}

td:not(.browser) {
    text-align: center;
}

article {
	margin-top: 7rem;
    max-width: 90%;
}

header {
    text-align: center;

    li {
        list-style: none;
    }
}

footer {
    @include order(4);
    padding: 4rem 0;
    text-align: center;
}

.code {
    font-family: monospace;
}

.anchors {
    @include order(1);
    padding-left: 2rem;
}

.more-info {
    @include order(3);
    margin: 0 auto;
    max-width: 28rem;
    padding: 0 2rem;
    text-align: center;
    width: 90vw;

    p { 
        margin: 0 auto;
        max-width: 275px;
        text-align: left;
    }
}

.content {
    @include order(2);

    p {
        margin-bottom: 4rem;
        min-width: 280px;
        width: 70%;
    }
}

.blockquote {
    border-left: 3px solid #ccc;
    margin: 1rem 5rem;
    padding-left: 1.5rem;
}

@media all and (min-width: 300px) {
    dt {
        text-align: center;
        font-weight: bold;
        color: green;
    }

    dd {
        padding-bottom: 1.8rem;
    }

    article {
        margin: 7rem auto 0 auto;
    }
}

@media all and (min-width: 800px) {
    .anchors,
    .more-info {
        @include flex(1 auto);
    }
}

@media all and (min-width: 1000px) {
    .content {
        @include flex(8 0px);
    }
}