<!DOCTYPE html><html lang="en"><head><title>= Notes as I Go</title></head><body><article><h2>Five Algorithm Approaches</h2><h3 style="white-space:pre;">Examplify</h3><p>Write out specific examples of the problem, 
and see if you can figure out a general rule.
</p><h3>Pattern Matching</h3><p>Consider what problems the algorithm is similar
to and figure out how to modify it to make it work.

em I should probably use this more often
</p><h3>Simplify and Generalize</h3><p>Change a constraint (data type, size, etc.) to 
simplify the problem. Then (try to) solve it.
Then generalize and solve it.
</p><h3>Base Case and Build</h3><p>Solve for one case. Then two. Then n.
Naturally recursive.
</p><h3>Data Structure Brainstorm</h3><p>"Hacky". Go through a list of data structures 
and see which one(s) applies/apply.</p></article></body></html>