@mixin flexbox() {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

@mixin flex($values) {
	-webkit-box-flex: $values;
	-moz-box-flex: $values;
	-webkit-flex: $values;
	-ms-flex: $values;
	flex: $values;
}

@mixin order($val) {
	-webkit-box-ordinal-group: $val;  
	-moz-box-ordinal-group: $val;     
	-ms-flex-order: $val;     
	-webkit-order: $val;  
	order: $val;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    color: #222;
}

html {
    font-size: 62.5%;
}

body {
	@include flexbox();
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
    font: { weight: 300; family: 'Source Sans Pro', Helvetica, sans-serif; }
    font-size: 1.6rem; 
    line-height: 2.56rem; 
    text-rendering: optimizeLegibility;

    & > * {
    	@include flex(1 100%);
    }

    & > div {
    	@include flex(1 auto);
    }
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 { font: { weight: 400; family: 'Lora', Georgia, serif; } }

h1 {
	margin-top: 6rem; 
	text-align: center; 
}

h2 {
	margin: 4rem 0;
}

h3 {  }
h4 {  }
h5 {  }
h6 {  }
p  {  }
a {
	text-decoration: none;
}

article {
	margin-top: 7rem;
}

.anchors {
	@include order(1);
	padding-left: 2rem;
}

.more-info {
	@include order(3);
	text-align: center;

	p { 
		margin: 0 auto;
		max-width: 225px;
		text-align: auto;
	}
}

.content {
	@include flex(4 0px);
	@include order(2);
}